.modal-content h2 {
    color: #1e3194;
    letter-spacing: 4px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


/*Forms Inputs */
.form-add-product input {
    width: 100%;
    font-size: .6rem;
    padding: .5rem;
    border: solid 1px #ccc;
    border-bottom: solid 1px #1e3194;
    border-radius: 4px;
    outline: none;
}

.form-add-product label {
    font-size: 1rem;
    color: #0000009c;
}

/*Form Seçao Product e QNT */
.modal-content .form-seçao-1 {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.modal-content .form-seçao-1 .form-product {
    width: 100%;
}


/* seçao 2 */
.modal-content .form-seçao-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.modal-content .form-seçao-2 .form-dropdow {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-seçao-3 {
    display: flex;
    gap: 5rem;
    margin-bottom: 1rem;
}

.form-seçao-3 .form-dropdow {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-seçao-3 .form-dropdow select {
    border: none;
    border-bottom: 1px solid #1e3194;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 0.5rem;
    color: #1e3194;
    font-size: 0.6rem;
}

/*Button categoria */
.modal-content .btn-category {
    color: #fff;
    font-size: 0.7rem;
    font-weight: normal;
    margin: 2rem 0;
}

.modal-content .btn-category i {
    font-size: 1rem;
}

/*Form Descriçao */
.modal-content .form-descrition textarea {
    width: 100%;
    min-height: 20px;
    padding: 10px;
    border: solid 1px #ccc;
    border-bottom: solid 1px #1e3194;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    resize: vertical;
    font-size: 0.6rem;
}

.form-type-entrada {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
   
}