.modal-content h2 {
    color: #1e3194;
    letter-spacing: 2px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

.form-category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*Forms Inputs */
.form-add-category input {
    width: 100%;
    padding: 10px;
    border: solid 1px #ccc;
    border-bottom: solid 1px #1e3194;
    border-radius: 4px;
    outline: none;
}

.form-add-category label {
    font-size: 1rem;
    color: #0000009c;
}

