.admin-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: #f5f6fa;
    overflow: hidden;

}

.admin-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.admin-main #Fund {
    background-image: url(../assets/img/Banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 92vw;
    height: 100vh;
}